.results-box
  display: flex
  flex-direction: column
  width: 60%
  border: 2px solid white
  border-radius: 5px

.destination-box
  position: relative
  display: flex
  justify-content: center
  align-items: center
  position: relative
  padding: 3vh 0
  border-bottom: 2px solid white
  font-size: 5vh


.info-box
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  font-size: 5vh
  .data
    position: relative
    width: 50%
    text-align: center
  .top
      padding: 5vh 0
      border-bottom: 2px solid white
      &:nth-child(2)
        border-left: 2px solid white
  .bottom
      padding-top: 5%
      padding-bottom: 5%
      &:last-child
        border-left: 2px solid white

// @include media('>=tablet')
//   .results-box
//     max-width: 600px
//
//     .destination-box
//       font-size: 2em
//       line-height: 2
//
//     .info-box
//       font-size: 2em
//       line-height: 1

.label
  position: absolute
  bottom: 0
  left: 0
  transform: rotate(-90deg)
  transform-origin: top left
  margin-bottom: -1.75vh
  font-size: 2vh
  z-index: 2

.label-dir
  margin-bottom: -1vh

.label-speed
  margin-bottom: .25vh

.label-period
  margin-bottom: .25vh

.label-height
  margin-bottom: .25vh

@media only screen and (max-width: 768px)
  .label
    transform: none
    margin: .25vh
    font-size: 1.5vh
