@import url("https://fonts.googleapis.com/css?family=Lato:100");
* {
  box-sizing: border-box; }

html, body {
  height: 100vh;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 200; }
  html a:link, html a:visited, html a:hover, html a:active, body a:link, body a:visited, body a:hover, body a:active {
    color: white; }

section {
  height: 92.5vh;
  display: none; }

.active {
  display: block; }

.row {
  display: flex;
  width: 100%;
  height: 92.5vh;
  padding-bottom: 20%;
  justify-content: space-between;
  align-items: center; }

.Rockaway, .Long, .Jacob, .Democrat {
  background-color: green; }

.Stay {
  background-color: red; }

@media (min-width: 768px) {
  section {
    height: 95vh; } }

header {
  background-color: #2F2F2F;
  border-bottom: 2px solid black;
  height: 7.5vh; }

.msw-logo {
  display: block;
  height: 100%;
  margin-left: auto; }

@media (min-width: 768px) {
  header {
    height: 5vh; } }

.fa-angle-left {
  margin-left: 2%; }

.fa-angle-right {
  margin-right: 2%; }

.results-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid white;
  border-radius: 5px; }

.destination-box {
  text-align: center;
  padding: 5%;
  border-bottom: 1px solid white;
  font-size: 1em; }

.info-box {
  display: flex;
  flex-wrap: wrap;
  font-size: .35em; }
  .info-box .data {
    width: 50%;
    text-align: center; }
  .info-box .top {
    padding: 5% 0 5% 0;
    border-bottom: 1px solid white; }
    .info-box .top:nth-child(2) {
      border-left: 1px solid white; }
  .info-box .bottom {
    padding-top: 5%;
    padding-bottom: 5%; }
    .info-box .bottom:last-child {
      border-left: 1px solid white; }

@media (min-width: 768px) {
  .results-box {
    max-width: 600px; }
    .results-box .destination-box {
      font-size: 2em;
      line-height: 2; }
    .results-box .info-box {
      font-size: 2em;
      line-height: 1; } }

.title {
  margin: 15% 0 0 0;
  text-align: center;
  font-size: 0.5em;
  letter-spacing: .2em; }
