@import url("https://fonts.googleapis.com/css?family=Lato:300");
* {
  box-sizing: border-box; }

html, body {
  height: 100vh;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 200; }
  html a:link, html a:visited, html a:hover, html a:active, body a:link, body a:visited, body a:hover, body a:active {
    color: white; }

section {
  height: 95vh;
  display: none; }

.active {
  display: block; }

.row {
  display: flex;
  width: 100%;
  height: 92.5vh;
  padding-bottom: 20%;
  justify-content: space-between;
  align-items: center; }

.Rockaway, .Long, .Jacob, .Democrat {
  background-color: green; }

.Stay {
  background-color: red; }

header {
  background-color: #2F2F2F;
  border-bottom: 2px solid black;
  height: 5vh; }

.msw-logo {
  display: block;
  height: 100%;
  margin-left: auto; }

@media only screen and (max-width: 768px) {
  header {
    height: 5vh; } }

.fa-angle-left {
  margin-left: 2%; }

.fa-angle-right {
  margin-right: 2%; }

.fa {
  color: green; }

.results-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 2px solid white;
  border-radius: 5px; }

.destination-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3vh 0;
  border-bottom: 2px solid white;
  font-size: 5vh; }

.info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 5vh; }
  .info-box .data {
    position: relative;
    width: 50%;
    text-align: center; }
  .info-box .top {
    padding: 5vh 0;
    border-bottom: 2px solid white; }
    .info-box .top:nth-child(2) {
      border-left: 2px solid white; }
  .info-box .bottom {
    padding-top: 5%;
    padding-bottom: 5%; }
    .info-box .bottom:last-child {
      border-left: 2px solid white; }

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
  margin-bottom: -1.75vh;
  font-size: 2vh;
  z-index: 2; }

.label-dir {
  margin-bottom: -1vh; }

.label-speed {
  margin-bottom: .25vh; }

.label-period {
  margin-bottom: .25vh; }

.label-height {
  margin-bottom: .25vh; }

@media only screen and (max-width: 768px) {
  .label {
    transform: none;
    margin: .25vh;
    font-size: 1.5vh; } }

.title {
  margin: 15% 0 0 0;
  text-align: center;
  font-size: 0.5em;
  letter-spacing: .2em; }
