<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Where2Surf</title>
  <script src="https://use.fontawesome.com/56854e86f1.js"></script>
  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
  <header>
    <a href="http://magicseaweed.com">
      <img class="msw-logo" src="http://im-1-uk.msw.ms/msw_powered_by.png"/>
    </a>
  </header>
  <%- include('partials/forecast', {
    day: 'Today',
    dest: today.dest,
    direction: today.direction,
    speed: today.speed,
    period: today.period,
    height: today.height
  }) %>
  <%- include('partials/forecast', {
    day: 'Tomorrow',
    dest: tomorrow.dest,
    direction: tomorrow.direction,
    speed: tomorrow.speed,
    period: tomorrow.period,
    height: tomorrow.height
  }) %>
</body>
</html>
