.destination
  text-align: center
  padding: 5%
  border: 1px solid white
  border-radius: 5%
  font-size: 1em

.Rockaway, .Long, .Jacob, .Democrat
  background-color: green

.Stay
  background-color: red
