@import url('https://fonts.googleapis.com/css?family=Lato:300')

html, body
  height: 100%
  color: white
  background-color: yellow
  font-family: 'Lato', sans-serif
  font-size: 2em

.main
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  border: 2px solid blue

.destination
  text-align: center

.Rockaway, .Long, .Jacob, .Democrat
  background-color: green

.Stay
  background-color: red
