@import url('https://fonts.googleapis.com/css?family=Lato:100')

@import 'base'
@import 'header'
@import 'title'
@import 'results-box'

.main
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
